version: '3.8'
services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  app:
    image: maven:3.8.5-openjdk-17
    volumes:
      - .:/usr/src/app
    working_dir: /usr/src/app
    command: /bin/sh -c "mvn package && java -jar target/rate-limiter-1.0-SNAPSHOT.jar"
    depends_on:
      - redis